<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="alertbody displayer">
	<div class="alertcontent">
    	<img id="alert-image" src="../res/images/oops.jpg" alt="alertimg">
        <h2 id="alert-message"> Some error occurred in the server. Please check server log.</h2>
    </div>
    <div class="errorlog">
    	<h3 id="error-info">Error type: ${errType}</h3>
        <h3>Error Log:</h3>
        <h6 id="log">${errLog}</h6>
    </div>
</div>
</body>
</html>