<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class = "filter-btns">
	<label style="text-size: 24px;"> Filters: </label>
    	<button type="submit"  name="btn-alphab-filter" class="btn btn-primary btn-lg btn-block">A - Z</button>
    	<button type="submit" name="btn-price-filter" class="btn btn-primary btn-lg btn-block">Price</button>
        <label>Categories:</label>
        <button type="submit" name="btn-adv-filter" class="btn btn-primary btn-lg btn-block">Adventure</button>
        <button type="submit" name="btn-rlx-filter" class="btn btn-primary btn-lg btn-block">Relax</button>
        <button type="submit" name="btn-clt-filter"  class="btn btn-primary btn-lg btn-block">Culture</button>
        <button type="submit" name="btn-fun-filter" class="btn btn-primary btn-lg btn-block">Fun</button>
</div>
</body>
</html>