<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
        <div class="page-header">
            <!-- page state-->    
            <div class="page-state">
                <h2>Join a trip</h2>
            </div>

            <!-- search bar-->
            <div class="search-bar">
                <form class="form-inline" action="joinTrip.jsp" method="POST" name="search-form">
                	<input id="bar" type="text" class="form-control" name="searchVal" placeholder="Search trip...">
                	<button id="search-btn" type="submit" name="search" class="btn btn-primary">Search</button>
                	
                	<h2 id="or">or</h2>
                	<button id="plan-btn" type="submit" name="plantrip" class="btn btn-primary">Plan Trip</button>
          		</form>
            </div>
        </div>
</body>
</html>