<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="request displayer">
    <div class="request-info">
        <h3>${tripTitle}</h3>
        <div class="name">
        	<h5>${senderName}</h5>
            <h5>${senderSurname}</h5>
        </div>
    </div>
    <form action="manageRequests.jsp" method="POST">
    	<button type="submit" class="btn btn-primary" name="viewprofile">View Profile</button>
   </form>
</div>	
</body>
</html>