<!DOCTYPE html>
<html lang="en">
<head>
    <title>GoGlobe</title>   
</head>
<body>
    <div class="background">
        <div class = "suggestion-card">
            <div class="ic-container">
                <img class="suggestion-icon" src=${ic_src} alt=""> 
            </div>
            <div class="suggestion-info">
                <p>${placeName}</p>
                <p>${placeAddress}</p>
                <p>${placeOH}</p>
            </div>
            <div class="sugg-btn-container">
                <button class="btn-sgst-lookup" type="submit" value=${suggestion_id} name="btn-lookup-place" > 
                    <img src="../res/images/googlemaps-icon-50.png" alt="">
                </button> 
            </div>
        </div>
    </div>   
</body>
</html>