<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
     <!--card element-->
     <div class="col" style="margin-bottom: 30px; max-width: 33%">
     	<div class="card"> <!-- add attribute text-center to center content in card-->
        	<img src="../res/images/Avenue-of-the-Baobobs-Madagascar 2.png" class="card-img-top">
        	<div class="card-body">
        		<h3 id="title" class="card-title">${title}</h3>
                <div class="price-tag">
                	<h5>Starting price: </h5>
                    <h5>${price}</h5>
                </div>
                <img src="res/images/icons8-mountain-50.png" alt="">
                <img src="res/images/icons8-holiday-50.png" alt="">
                <img src="res/images/icons8-greek-pillar-capital-50.png" alt="">
                <img src="res/images/icons8-cocktail-50.png" alt="">
                <button type="submit" name="viewinfo" class="btn btn-primary" value="${btninfoid}">More Info...</button>
            </div>
        </div>
    </div>
</body>
</html>