<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
     <!--card element-->
     <div class="col" style="margin-bottom: 30px; max-width: 30%">
     	<div class="card"> <!-- add attribute text-center to center content in card-->
        	<img src="../res/images/Avenue-of-the-Baobobs-Madagascar 2.png" class="card-img-top" alt="tripImg">
        	<div class="card-body">
        		<h4 id="title" class="card-title">${title}</h4>
                <div class="price-tag" style="position: absolute; right: 0px;">
                    <h5>${price}&euro;</h5>
                </div>
                <div class="locations">
                	<h6>${locations}</h6>
                </div>
                <div class="age-range">
                	<h6>age ${minAge} - ${maxAge}</h6>
                </div>
                <div class="spots-left">
                	<h6>${spots} spots left.</h6>
                </div>
                <div class="categories">
                	<h6>${cat1}</h6>
                	<h6>&bull;</h6>
                	<h6>${cat2}</h6>
                </div>
                <button type="submit" name="viewinfo" class="btn btn-primary" value="${btninfoid}">More Info...</button>
            </div>
        </div>
    </div>
</body>
</html>