*{
    box-sizing: border-box;
    margin: 0;
}


@font-face {
    font-family: Baloo Da;
    src: url(../res/fonts/Baloo-Da/BalooDa2-ExtraBold.ttf);
}

@font-face {
    font-family: BarlowBold;
    src: url(../res/fonts/Barlow/Barlow-Bold.ttf)
}

@font-face {
    font-family: BarlowMed;
    src: url(../res/fonts/Barlow/Barlow-Medium.ttf);
}

body {
    font-family: BarlowMed;
}

#bootstrap-override .nav-bar {
    padding: 5px;
    padding-top: 10px;
    background-color: white;
}

#bootstrap-override #logo, #bootstrap-override-home #logo {
    font-family: Baloo Da;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    height: 65px;
    font-size: 40px;
}

#bootstrap-override #custom-btn {
    margin-left: 20px;
    background-color: #8d8741;
    border-color: #8d8741;
    margin-right: 20px;
}

#bootstrap-override .form-control {
    border-radius: 5px;
    max-width: 200px;
}