/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
@font-face {
    src: url(/logic/view/fonts/Baloo-Da/BalooDa2-ExtraBold.ttf);
}

@font-face {
    src: url(/logic/view/fonts/Barlow/Barlow-Bold.ttf);
}

@font-face {
    src: url(/logic/view/fonts/Barlow/Barlow-Medium.ttf);
}

#navbar {
	-fx-background-color: #f8f9fa; 
}

#logo {
	-fx-font-family: "Baloo Da 2 ExtraBold"; 
}

#form {
	-fx-background-color: #ffffff;
}

#btn {
	-fx-background-color: #007bff;
	-fx-text-fill: white;
}

#tab-container {
	-fx-background-color: #ffffff
}