/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-image: url("/logic/view/images/japan-kyoto-toji-pagoda.jpg");
	-fx-font-family: "Barlow Medium";
}

